/* Components */

/* Header */
.app-header {
  background-color: var(--clr1);
  color: var(--clr2bg-light);
}

.app-footer {
  background-color: var(--clr1);
  color: var(--clr2bg-light);
  border-top: 1px solid var(--clr2bg-light);
  height: 70px;
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #444;
  font-size: 0.9em;
  color: #999;
}

.user-msg {
  background-color: var(--clr1);
  color: var(--clr2bg-light);
  padding: 1em;
  border-radius: 4px;
  position: fixed;
  width: fit-content;
  z-index: 4;
  bottom: 1em;
  left: 1em;
  transform: translateX(-150%);
  opacity: 0;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.user-msg.success {
  background-color: green;
}

.user-msg.error {
  background-color: red;
}

.user-msg.shown {
  transform: translateX(0);
  opacity: 1;
}

.user-msg.hidden {
  transform: translateX(-150%);
  opacity: 0;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-container h1 {
  flex-grow: 1;
}

.app-nav {
  display: flex;
  gap: 15px;
}

.header-title {
  color: var(--clr2bg-light);
  text-decoration: none;
}

a.active {
  color: rgb(241, 212, 241);
  font-weight: 600;
  text-decoration: underline;
}

/* Home */
.home {
  font-size: 1em;
}

/* Book Index */
.book-index {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* Book Edit */
.book-edit-container {
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

/* Buttons */
button {
  cursor: pointer;
  background-color: var(--clr2bg);
  margin: 0.5em;
  border: 0;
  padding: 0.5em 0.8em;
  border-radius: 4px;
}

button:hover {
  background-color: var(--clr2);
  color: white;
  transition: 0.3s;
}

/* Inputs */
input:focus {
  background-color: var(--clr1bg);
  transition: background-color 1s;
}

/* About */
.about nav a {
  margin-right: 10px;
}
